<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Wesh</title>
  <link rel="stylesheet" href="/assets/css/foundation.min.css" media="screen" charset="utf-8">
  <link rel="stylesheet" href="/assets/css/app.css" media="screen" charset="utf-8">
</head>

<body>
  <div class="top-bar">
    <div class="row">
      <ul class="menu">
        <li class="menu-text">GoldenBook</li>
      </ul>
    </div>
  </div>
  <div class="row">
    {% if locals.flash and locals.flash.error %}
      <div class="callout alert">
        {{ flash.error }}
      </div>
      {% endif %}
      {% if locals.flash and locals.flash.success %}
        <div class="callout success">
          {{ flash.success }}
        </div>
      {% endif %}
      {% block content %}
      {% endblock %}
  </div>
</body>
</html>
