<% include ../pages/header %>
<div class="ui comments">
  <div class="comment">
    <a class="avatar" href="/message/<%= message.id %>">
      <img src="https://yt3.ggpht.com/-aIZ1l8ek27w/AAAAAAAAAAI/AAAAAAAAAAA/fv8ukbvuneI/s88-c-k-no-rj-c0xffffff/photo.jpg" alt="">
    </a>
    <div class="content">
      <div class="metadata">
        <div class="date">
          <%= message.createdAt.fromNow() %>
        </div>
      </div>
      <div class="text"><%= message.content %></div>
    </div>
  </div>
</div>
<% include ../pages/footer %>
