<h3>Login</h3>
<form action="/users/login" method="post">
  <div class="row">
    <div class="medium-12 columns">
      <label>Email
        <input type="text" name="email" placeholder="Email" required>
      </label>
      <label>Password
        <input type="password" name="password" placeholder="blah" required>
      </label>
      <button class="button" type="submit">Login</button>
    </div>
  </div>
</form>
<hr>
<a class="SignInBtn button" href="/users/auth/google"><i class="fa fa-google" aria-hidden="true"></i></a>
<a class="SignInBtn button" href="/users/auth/github"><i class="fa fa-6 fa-github" aria-hidden="true"></i></a>
<a class="SignInBtn button" href="#"><i class="fa fa-6 fa-facebook-official" aria-hidden="true"></i></a>
<a class="SignInBtn button" href="/users/auth/twitter"><i class="fa fa-6 fa-twitter" aria-hidden="true"></i></a>
