<h3>Register</h3>
<form action="/users/register" method="post">
  <div class="row">
    <div class="medium-12 columns">
      <label>Email
        <input type="text" name="email" placeholder="Email" required>
      </label>
    </div>
    <div class="medium-6 columns">
      <label>Password
        <input type="password" name="password" placeholder="blah" required>
      </label>
    </div>
    <div class="medium-6 columns">
      <label>Password confirm
        <input type="password" name="password2" placeholder="blah" required>
      </label>
    </div>
    <div class="medium-12 columns">
      <label>First name
        <input type="text" name="firstName" placeholder="John" required>
      </label>
      <label>Last name
        <input type="text" name="lastName" placeholder="Doe" required>
      </label>
      <button class="button" type="submit">Register</button>
    </div>
  </div>
</form>
