{% extends "../layouts/main.njk" %}

{% block content %}
  <div class="row">
    <div class="medium-6 columns">
      <h3>Login</h3>
      <form action="/users/register" method="post">
        <div class="row">
          <div class="medium-12 columns">
            <label>Email
              <input type="text" name="email" placeholder="Email">
            </label>
            <label>Password
              <input type="password" name="password" placeholder="blah">
            </label>
          </div>
        </div>
      </form>
    </div>
    <div class="medium-6 columns">
      <h3>Register</h3>
      <form action="/users/register" method="post">
        <div class="row">
          <div class="medium-12 columns">
            <label>Email
              <input type="text" name="email" placeholder="Email">
            </label>
          </div>
          <div class="medium-6 columns">
            <label>Password
              <input type="password" name="password" placeholder="blah">
            </label>
          </div>
          <div class="medium-6 columns">
            <label>Password confirm
              <input type="password" name="password2" placeholder="blah">
            </label>
          </div>
          <div class="medium-12 columns">
            <label>First name
              <input type="text" name="firstName" placeholder="John">
            </label>
            <label>Last name
              <input type="text" name="lastName" placeholder="Doe">
            </label>
            <button class="button" type="submit">Register</button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <hr>
  <h3>Submit a message</h3>
  <form class="ui form" action="/" method="post">
      <div class="field">
          <label for="message">Message</label>
          <textarea name="message" id="message"></textarea>
      </div>
      <button type="submit" class="ui blue labeled submit icon button">
          <i class="icon edit"></i> Send
      </button>
  </form>

  <div class="ui comments">
    <h3 class="ui dividing header">Comments</h3>
    {% for message in messages %}
    <div class="comment">
      <a class="avatar" href="/message/<%= message.id %>">
        <img src="https://yt3.ggpht.com/-aIZ1l8ek27w/AAAAAAAAAAI/AAAAAAAAAAA/fv8ukbvuneI/s88-c-k-no-rj-c0xffffff/photo.jpg" alt="">
      </a>
      <div class="content">
        <div class="metadata">
          <div class="date">
            {{ message.createdAt }}
          </div>
        </div>
        <div class="text">{{ message.content }}</div>
      </div>
    </div>
    {% endfor %}
  </div>

{% endblock %}
