{% extends "../layouts/main.njk" %}

{% block content %}
  {% include "../users/auth.njk" %}
  <hr>
  <h3>Submit a message</h3>
  <form class="ui form" action="/" method="post">
      <div class="field">
          <label for="message">Message</label>
          <textarea name="message" id="message"></textarea>
      </div>
      <button type="submit" class="ui blue labeled submit icon button">
          <i class="icon edit"></i> Send
      </button>
  </form>


  <div class="Comment">
    <h4>Comments</h4>
    <div class="medium-12 columns">
      {% for message in messages %}
        <div class="row callout">
          <div class="medium-1 columns">
            <a href="/message/<%= message.id %>">
              <img class="CommentThumbnail thumbnail" src="assets/images/user.png" />
            </a>
          </div>
          <div class="medium-11 columns">
            <div class="Comment-date">
                {{ message.createdAt }}
            </div>
            <div class="text">{{ message.content }}</div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>

{% endblock %}
