<h3>Login</h3>
<form action="/users/login" method="post">
  <div class="row">
    <div class="medium-12 columns">
      <label>Email
        <input type="text" name="email" placeholder="Email" required>
      </label>
      <label>Password
        <input type="password" name="password" placeholder="blah" required>
      </label>
      <button class="button" type="submit">Login</button>
    </div>
  </div>
</form>
