<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Guestbook</title>
  <link rel="stylesheet" href="/assets/css/foundation.min.css" media="screen" charset="utf-8">
  <link rel="stylesheet" href="/assets/css/font-awesome.min.css" media="screen" charset="utf-8">
  <link rel="stylesheet" href="/assets/css/app.css" media="screen" charset="utf-8">
</head>

<body>
  <div class="top-bar">
    <div class="row">
      <ul class="menu">
        <li class="menu-text">Guestbook</li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="medium-12 columns">
      <div class="BodyContent">
        {% if flash.error %}
          <div class="Flash callout alert">
            {{ flash.error }}
          </div>
          {% endif %}
          {% if flash.success %}
            <div class="Flash callout success">
              {{ flash.success }}
            </div>
          {% endif %}
          {% block content %}
          {% endblock %}
      </div>
    </div>
  </div>

  {# jQuery CDN #}
  <script
    src="https://code.jquery.com/jquery-3.1.0.min.js"
    integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="
    crossorigin="anonymous"></script>
  <script src="/assets/js/app.js"></script>
</body>
</html>
